.homeContent {
    transition: filter 0.3s ease;
    overflow-y: auto;
}

.blurBackground {
    filter: blur(8px);
    pointer-events: none; /* Prevents clicking links or buttons from the home page while content is blurred */
}

hr {
    margin: 15px 20px;
}

/* --------------------------------------------------------------------------------------- */
/* HERO SECTION */
.homeHeroSection {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.quoteText {
    margin: 10px auto 10px 10%;
    padding: 20px 10px;
    font-size: xx-large;
}

.quoteAuthor {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 65%;
    text-align: left;
}

/* --------------------------------------------------------------------------------------- */
/* MEMBER CARDS SECTION */

.membersSection {
    h2 {
        padding: 20px 10px 0px 10px;
        font-size: xx-large;
        color: white;
    }
}

.memberList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 70px 30px 70px;
}

/* --------------------------------------------------------------------------------------- */
/* MUSIC TIMELINE SECTION */

.musicTimelineSection {
    h2 {
        padding: 20px 10px 0px 10px;
        font-size: xx-large;
        color: white;
    }
}

.musicTimelineDiv {
    padding: 2%;
}

/* --------------------------------------------------------------------------------------- */
/* THE MESSAGE SECTION */

.messageSection {
    h2 {
        padding: 20px 10px 0px 10px;
        font-size: xx-large;
        color: white;
    }
}

.messageSectionContent {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    img {
        width: 25%;
        height: auto;
        margin: 20px;
        border-radius: 10px;
    } 
    p {
        text-align: left;
    }
}

/* --------------------------------------------------------------------------------------- */
/* UNCOMMENT LATER */
/* INFORMATION SECTION - STATS */
/* .infoSection {
    h2 {
        padding: 20px 10px 0px 10px;
        font-size: xx-large;
        color: white;
    }
} */

/* --------------------------------------------------------------------------------------- */
/* WEBSITE FUTURE SECTION */

.futureSection {
    height: 200px;

    h2 {
        margin: 10px;
        padding: 20px 10px;
        font-size: xx-large;
        color: white;
    }

    p {
        margin: 10px;
        padding: 10px;
    }
}