.closeButton {
    margin-left: auto;
    font-size: 2rem; 
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.432);
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in; 
}

.closeButton:hover {
    transform: translateY(-4px) scale(1.05); 
    box-shadow: 2px 6px 4px rgba(255, 255, 255, 0.432);
}

.placeholder {
    max-width: 750px;
    margin: 0 auto;
    padding: 2rem 1rem;

    h3 {
        font-size: 1.5rem;
        margin: 2rem 0 2rem 0;
        color: white;
        text-align: center;
    }

    hr {
        border: 0;
        border-top: 1px solid #e0e0e0;
        margin: 2rem 0;
        text-align: center;
    }

    p {
        line-height: 1.6;
        margin-bottom: 1.2rem;
        color: white;
        text-align: center;
    }
}
