.imageCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%; 
    margin-left: auto; 
}

.carouselViewport {
    width: 100%;
    overflow: hidden; 
}

.carouselTrack {
    display: flex; 
    transition: transform 0.4s ease-in-out;
    width: 100%;

    img {
        width:100%; 
        flex-shrink: 0;
        object-fit: contain;
    }
}
